* {
    .spin {
        // make the image spin
        animation: spin 2s infinite linear;
        @keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
    }
    body {
        scrollbar-color: #0003f9 #00c00d;
        img {
            image-rendering: optimizeQuality;
        }
    }
}